@charset 'UTF-8';


/*초기화*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
img {display: inline-block; /*content: "";*/}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
a {text-decoration:none; color:#333;}
table{width: 100%; padding:0; border:0; border-spacing:0px; border-collapse:collapse;}
th, td{ padding:0;}
input {-webkit-border-radius: 0;}


/*스크롤바*/
body::-webkit-scrollbar-thumb {background:#727272; border-radius:100px; border-radius: 10px;}
body::-webkit-scrollbar-track {background:#ddd;}
body::-webkit-scrollbar {width:5px; height:5px; background:#727272; border-radius: 10px;}


/*폰트*/
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css");


/*공통*/
html, body {width:100%; height:100%; font-family: 'Spoqa Han Sans Neo', 'sans-serif'; position:relative;}
.wrapper {max-width:1200px; margin:0 auto;}
.clearfix:after {display:block; content:''; clear:both; height:0;}
.enter-ef {display:none;}
.pc {display:block;}
.m {display:none;}


/*폰트 CSS*/
.font-300 {font-weight:300;}
.font-400 {font-weight:400;}
.font-500 {font-weight:500;}
.font-600 {font-weight:600;}
.font-700 {font-weight:700;}

/*공통 FRAME*/
.section {position:relative; z-index:300; width:100%; padding-top:8%; padding-bottom:8%; text-align:center;}
.section p.p01 {font-size:1.8rem; font-weight:600; letter-spacing:-1.5px;}
.section p.p02 {margin-top:23px; font-size:13px; color:#999; letter-spacing:1px;}



/*style css*/
header {width:100%; position:fixed; top:0; z-index:700;}
header .logo {margin:30px 0px 0px 30px;}
header .logo img {width:125px; transition:all .3s;}
header .logo.active-header img {filter:brightness(10%);}
header .logo.active-header3 img {opacity:0;}
header .info-menu {position:absolute; right:40px; top:54%;}
header .info-menu ul > li {float:left; padding:10px; color:#fff;}
header .info-menu ul > li > a {display:block; color:#fff; font-size:14px;}
header .info-menu.active-header2 ul > li span img {filter:brightness(10%);}
header .info-menu.active-header2 ul > li > a {color:#111;}


@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

#ham-navigation a {color:#0f0e0e; text-decoration: none;}
.hamburger-mobile {display:none; position:fixed; right:3%; top:2%;}
.hamburger-menu-button {width:40px; height:40px; padding:6px; display:block; position:relative; margin-top:0px; z-index:100; background:transparent;
  border: 0px solid #000000; box-sizing: content-box; border-radius:50%; text-indent:100%; color:transparent; white-space: nowrap; cursor: pointer; overflow: hidden; outline: 0;}
.hamburger-menu-button-open {top:50%; margin-top:-1px; left: 50%; margin-left: -12px;}
.hamburger-menu-button-open, .hamburger-menu-button-open::before, .hamburger-menu-button-open::after {position: absolute; width: 24px; height: 2px; background: #fff; border-radius: 4px; -webkit-transition: all 0.3s; transition: all 0.3s;}
.hamburger-menu-button-open::before, .hamburger-menu-button-open::after {left: 0; content: "";}
.hamburger-menu-button-open::before {top: 6px;}
.hamburger-menu-button-open::after {bottom: 6px;}
.hamburger-menu-button-close {background: transparent; -webkit-transform: rotate(180deg); transform: rotate(180deg);}
.hamburger-menu-button-close::before {-webkit-transform: translateY(-6px) rotate(45deg); transform: translateY(-6px) rotate(45deg);}
.hamburger-menu-button-close::after {-webkit-transform: translateY(6px) rotate(-45deg); transform: translateY(6px) rotate(-45deg);}
.ham-menu {position: absolute; top:7px; right:48px; margin: auto; max-width: 570px; overflow: hidden;}
.ham-menu ul {opacity:0; border-radius: 20px; overflow:hidden; -webkit-transform: translateX(110%); transform: translateX(110%); background-color: #ededed; -webkit-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}
.ham-menu.on ul {-webkit-transform: translateX(0px); transform: translateX(0px); opacity:1; text-align: center;}
.ham-menu ul {font-size: 0;}
.ham-menu ul li {display: inline-block;}
.ham-menu ul li:first-child .ham-menu ul li a {padding-left: 30px;}
.ham-menu ul li a {width:105px; padding: 12px 20px; display: block; background-color: transparent; color: #fff; text-transform: uppercase; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; font-size:11px;}
.ham-menu ul li.active a, .ham-menu ul li a:hover {background-color: #414141; color: #fff !important;} 
.ham-menu .download-icon {display:none;}


#section01 {background:#000; width:100%; height:300vh;}
#section01-m {display:none;}
#section01 .fixed-panel {margin:0 auto; position:fixed; /*overflow:hidden;*/ top:28%; bottom:0%; left:0%; right:0%; width:40%;}
#section01 .fixed-panel .panel-fix-bg {box-shadow: 0px 20px 100.28px 8.72px rgba(0, 0, 0, 0.35); display:block;}
#section01 .fixed-panel .panel-fix-bg > div {background:url('../img/o-01.jpg') no-repeat; width:100%; height:400px; transition:all .5s;}
#section01 .fixed-panel .panel-fix-bg.active > div {background:url('../img/o-02c.png') no-repeat; width:100%; height:600px; background-position:50% 50%; animation:bg01 3s; animation-fill-mode:forwards; transform:translateY(30px);}
#section01 .fixed-panel .panel-fix-bg.active {transform:translate(-395px,-136px); display:block;}
#section01 .fixed-panel .panel-fix-bg.active2 > div {background:url('../img/o-03.png') no-repeat; width:100%; height:630px; background-position:50% 50%; animation:bg02 3s; animation-fill-mode:forwards; transform:translateY(30px);}
#section01 .fixed-panel .panel-fix-bg.active2 {transform:translate(0px,-50px); display:block;}
#section01 .fixed-panel .panel-fix-bg.active3 {display:none;}

@keyframes bg01{
	from {transform:translateY(30px);}
	to {transform:translateY(0px);}
}

@keyframes bg02{
	from {transform:translateY(30px);}
	to {transform:translateY(0px);}
}

html {box-sizing: border-box;} *, *:before, *:after {box-sizing: inherit;}
body {font-size: 18px; font-feature-settings: "kern" 1,"liga" 1,"frac" 1, "lnum" 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; overflow-x:hidden;}

.panel {margin: 0 auto; position: relative; display: flex; width: 100%; max-width: 1200px; height: 100vh; user-select: none; pointer-events: none; align-content: center; justify-content: center; align-items: center;}
.panel3 {margin:0 auto; position:relative; display:flex; width:100%; max-width:1200px; height:100vh; user-select: none; pointer-events: none; align-content: center; justify-content: center; align-items: center;}
.panel__content-col {}
.panel__content {position: absolute; top: 33%; left: 0; z-index: 2; width: 100%; height: 100%;}
.panel__content3 {position: absolute; top: 33%; left: 0; z-index: 2; width: 100%; height: 100%;}
img.phone01 {width:38%; transition:all .3s;}

.panel__text {display: inline-block; text-align: right; position: absolute;}
#pan_txt_01 {top:10%; left:5%; transition:all .3s;}
#pan_txt_02 {top:10%; right:8%; transition:all .3s;}
#pan_txt_03 {top:5%; left:12%; transition:all .3s;}

.panel__text2 {position: absolute; color:#fff; font-family: 'Poppins', sans-serif; font-size:16px;}
#pan_txt2_01 {top:-2%; right:10%; transition:all .3s;}
#pan_txt2_02 {top:5%; right:30.5%; transition:all .3s;}
#pan_txt2_03 {top:0%; right:25%; transition:all .3s;}

.panel__img-col {flex-basis: 70%; box-shadow: 0px 20px 100.28px 8.72px rgba(0, 0, 0, 0.35);}
.panel__title {margin: 0;}
.panel__addr {position: relative; display:flex; margin: 16px 0 0; justify-content: flex-end;}
.panel__addr span {display:block; margin:9px 14px 0 0; height:1px; width:30px; background-color:#fff;}
.panel__line {margin:0px 0 0 50%;}
.particle_1 {position:absolute; top:-10%; right:20%;}
.particle_2 {position:absolute; top:42%; right:50%;}
.panel__img-col {width: 100%;}
.panel__img {display: block; width: 100%; height: 100%; object-fit: cover;}

#section02 {background:#f5f5f5; position:relative; z-index:300; width:100%; padding-top:8%; padding-bottom:8%; text-align:center;}
#section02 .sec-title p.p01 {font-size:1.8rem; font-weight:600; letter-spacing:-1.5px;}
#section02 .sec-title p.p02 {margin-top:35px; font-size:13px; color:#999; letter-spacing:1px;}
#section02 .optimization-section {margin-top:6%;}
#section02 .optimization-section {width:100%; height:100%; z-index:30;} 
#section02 .optimization-section > ul > li {float:left; display:inline-block; width:20%; padding:40px 0px; position:relative; text-align:center;}
#section02 .optimization-section > ul > li > img {width:60%; position:relative; opacity:.5; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -ms-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out;}
#section02 .optimization-section > ul > li .front_img{position:absolute; width:100%; height:100%; top:40px; left:0; opacity:0; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -ms-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out;}
#section02 .optimization-section > ul > li .front_img img{width:60%;}
#section02 .optimization-section > ul > li:hover > img{opacity:0;}
#section02 .optimization-section > ul > li:hover .front_img {opacity: 1;}
#section02 .quick-btn {width:15%; height:50px; background:#000; margin:0 auto; margin-top:7%; border-radius:50px;}
#section02 .quick-btn a {color:#fff; font-size:15px; line-height:50px; display:block;}

#section03 {background:#f6f6f6; position:relative; z-index:300; width:100%; padding-top:8%; padding-bottom:4%; text-align:center;}
#section03 > .wrapper {position:relative;}
#section03 .sec-title p.p01 {font-size:1.8rem; font-weight:600; letter-spacing:-1.5px;}
#section03 .sec-title p.p02 {margin-top:35px; font-size:13px; color:#999; letter-spacing:1px;}
#section03 .channel-section {margin-top:3%;}
#section03 .tab-menu {display:inline-flex; position:absolute; left:15%; top:22%; z-index:9;}
#section03 .tab-menu li {background:#b6b6b6; border-radius:50px; margin-right:8px;}
#section03 .tab-menu li a {display:block; padding:8px 22px; font-size:14px; color:#fff;}
#section03 .channel-section .tab-menu a.active, #section03 .channel-section .tab-menu a:hover {background:#000; transition:all .3s; border-radius:50px;}
#section03 .tab-contents {position:relative; margin:0 auto; margin-top:30px;}
/*#section03 .tab-contents #youtube {display:none;}*/
#section03 .tab-inner {width: 100%; height:600px;}
#section03 .tab-contents > li {}
#section03 .tab-inner > div {float:left;}
#section03 .tab-contents .tab-text-section {width:50%; text-align:left; padding-top:2%; padding-left:15%; box-sizing:border-box;}
#section03 .tab-contents .tab-text-section .tab-txt-01 {font-size:30px; font-weight:700; margin-top:100px;}
#section03 .tab-contents .tab-text-section .tab-txt-02 {margin-top:40px; font-size:17px; line-height:24px; letter-spacing:-1px; font-weight: 300;}
#section03 .tab-contents .tab-text-section .tab-txt-03 {margin-top:20px; font-size:17px; line-height:24px; letter-spacing:-1px; font-weight: 300;}
#section03 .tab-contents .tab-image-section {width:50%; padding-left:10%; box-sizing:border-box;}
#section03 .tab-contents #insta .tab-image-section img {width:63%;}
#section03 .tab-contents #youtube .tab-image-section img {width:90%;}
#section03 .tab-contents #faceboock .tab-image-section img {width:63%;}
#section03 .tab-contents #tiktok .tab-image-section img {width:63%;}

#section04 {background:#000; position:relative; z-index:300; width:100%; padding-top:8%; padding-bottom:7%; text-align:center;}
#section04 .sec-title p.p01 {font-size:1.8rem; font-weight:600; letter-spacing:-1.5px; color:#fff;}
#section04 .sec-title p.p02 {margin-top:35px; font-size:13px; color:#999; letter-spacing:1px;}
#section04 .portfolio-list {margin-top:5%;}
#section04 .pl-inner {width: 100%; height: 450px; overflow-y: scroll; padding-right:3%;}
#section04 .pl-inner::-webkit-scrollbar {width:8px; position:absolute; right:10%;}
#section04 .pl-inner::-webkit-scrollbar-thumb {background-color: gray; border-radius:8px;}
#section04 .pl-inner::-webkit-scrollbar-track {background-color: #2f3542; border-radius:8px;}
#section04 .pl-inner > li {float:left; width:20%; padding:0.5%; box-sizing:border-box;}
#section04 .pl-inner > li  > div {background:#fff; padding: 25% 0%; border-radius: 5px;}
#section04 .pl-inner > li img {width:100%;}

#section05 {background:url('../img/contact-bg2.jpg') no-repeat; background-size:cover; position:relative; z-index:300; width:100%; padding-top:12%; padding-bottom:12%;}
#section05 > .wrapper {display:flex;}
#section05 .sec05-title {text-align:left; color:#fff; flex-grow:3;}
#section05 .sec05-title h2 {font-size:40px; font-weight:600; letter-spacing:1px;}
#section05 .sec05-title .sec05-p1 {margin-top:20px; font-size:15px; font-weight:300; letter-spacing:-0.2px; color:#c6c6c6;}
#section05 .sec05-title .sec05-p2 {margin-top:50px; font-size:13px; line-height:24px; letter-spacing:0px; font-weight:300;}
#section05 .sec05-title .sec05-p3 {font-size:13px; line-height:24px; font-weight:300;}
#section05 .sec05-title .sec05-p4 {font-size:13px; line-height:24px; font-weight:300;}
#section05 span.info-tit {display:inline-block; width:15%;}
#section05 .sec05-form-container {flex-grow:4;}
#section05 .sec05-form-container table input {font-family: 'Spoqa Han Sans Neo', 'sans-serif'; display:inline-block; background:transparent; border:0; border-bottom:1px solid #888; -webkit-border-bottom:1px solid #888; width:90%; padding:5px; color:#999; letter-spacing:-1px;}
#section05 .sec05-form-container table input::placeholder {color:#999;}
#section05 .sec05-form-container table td {padding:15px 0px;}
#section05 .sec05-form-container .check_input {width:20px !important; background:#fff;}
#section05 .sec05-form-container select {display:inline-bloc k; background:transparent; border:0; border-bottom:1px solid #888; -webkit-border-bottom:1px solid #888; width:90%; padding:5px; color:#999; letter-spacing:-1px;}
#section05 .sec05-form-container label {color:#dadada;}
#section05 .sec05-form-container a {color:#dadada;}
#section05 .sec05-form-container .send-btn div {width:95%; background:#707070; text-align:center; padding:15px 0px; display:block; border-radius:8px; color:#fff; font-size:14px;}

#section06 {background:#fff; position:relative; z-index:300; width:100%; padding-top:8%; padding-bottom:8%; text-align:center;}
#section06 .sec-title p.p01 {font-size:1.8rem; letter-spacing:-1.5px;}
#section06 .sec-title p.p02 {margin-top:10px; font-size:1.8rem; letter-spacing:-1px;}
#section06 .needs-section {margin-top:100px;}
#section06 .needs-section-container {display:flex;}
#section06 .purpose {flex-grow: 1; flex-shrink: 1; flex-basis: 0;}
#section06 .purpose .purpose-padd {padding:0 3%; box-sizing:border-box;}
#section06 .purpose-img {width:80px; height:80px; margin:0 auto;}
#section06 .purpose-img img {width:100%;}
#section06 .purpose-tit {font-size:1.15rem; margin-top:35px; color:#c90000;}
#section06 .purpose-desc {font-size:0.95rem; line-height:24px; color:#777; margin-top:18px; padding:0 3%; box-sizing:border-box; word-break:break-all;}

#section07 {background:#000; height:550px; position:relative; z-index:300; width:100%; padding-top:0%; padding-bottom:0%; text-align:center;}
#section07 .sec07-pos {position:absolute; width:100%; max-width:1200px; top:22%; left:0; right:0; margin:0 auto;}
#section07 video {width:100%; height: auto; filter: brightness(0.4);}
#section07 .sec-title p.p01 {font-size:1.6rem; letter-spacing:-1.5px; color:#fff;}
#section07 .sec-title p.p01 img {width:100%; max-width:130px;}
#section07 #cursor2 {font-size: 25px; display: inline;}
#section07 .sec-title p.p02 {color:#fff; margin-top:380px; font-size:1.9rem; letter-spacing:-1px;}
#section07 .pw-section {margin-top:80px;}
#section07 .pw-section-container {display:flex;}
#section07 .plusWecyd-box {flex-grow:1; flex-shrink:1; flex-basis:0;}
#section07 .plusWecyd-box .pw-box-padd {padding:0 3%; box-sizing:border-box;}
#section07 .pw-img {width:80px; height:80px; margin:0 auto;}
#section07 .pw-img img {width:100%;}
#section07 .pw-tit {font-size:1.4rem; margin-top:35px; color:#ddd;}
#section07 .pw-desc {font-size:0.78rem; line-height:24px; color:#888; margin-top:10px; padding:0 3%; box-sizing:border-box;}

#section08 {background:#f6f6f6;}
#section08 .marketing-section {margin-top:120px; border-bottom: 1px solid #e3e3e3; padding-bottom: 80px;}
#section08 .marketion-sc1 {margin-top:60px;}
#section08 .marketion-sc4 {border-bottom: 0px solid #e3e3e3;}
#section08 .marketing-section .marketing-img-sec {float:left; width:60%;}
#section08 .marketing-section .marketing-img-sec img {width:100%; max-width:600px;}
#section08 .marketing-section:nth-child(2n+1) .marketing-img-sec img {width:100%; max-width:500px;}

#section08 .marketing-section .marketing-des-sec {float:left; width:40%; text-align:left;}
	.marketing-section .marketing-des-sec-padd {padding-left:13%; padding-top:8%; box-sizing:border-box;}
	.marketing-section .des-line {width:40px; height:2px; background:#333; margin:30px 0px;}
	.marketing-section .m-d-tit {font-size:2rem; letter-spacing:-1px;}
	.marketing-section .m-d-tit-green {color:#19cd61;}
	.marketing-section .m-d-tit-blue {color:#618ffc;}
	.marketing-section .m-d-des {font-size:1.15rem; line-height:28px; letter-spacing:0px; word-break: keep-all;}


#section09 {background:#fff; overflow:hidden; padding-top:5%; padding-bottom: 18%;}
.DA-section {margin-top:90px;}
.da-marketing {position: relative;}
.da-marketing .da-line {width:30%; height:0px; margin:30px 0; background: #ddd;}
.da-marketing .da-tit {font-size:2.3rem; text-align: left; color: #333;}
.da-marketing .da-desc {font-size:1.15rem; color:#444; line-height:29px; height:80px; max-width: 360px; text-align:left;}
.da-marketing .da-img {height: 320px; position:absolute; right:0px; top:0px;}
.da-marketing .da-img img {width:100%; max-width:540px; text-align:right;}

.da-normal {animation:bg1 10s 1s infinite; border-radius:30px;}
.da-network {animation:bg2 10s 1s infinite;  border-radius:30px;}
#section09 .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {bottom:-130px; left:0px; width:50px; text-align: left;}
#section09 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin:0px 8px 0px 0px;}
#section09 .swiper-button-prev, .swiper-container-rtl .swiper-button-next {left: -80px;}
#section09 .swiper-button-next, .swiper-container-rtl .swiper-button-prev {right: -80px;}
#section09 .swiper-pagination-bullet {width: 15px; height: 15px;}



/*팝업*/
#popup {position:fixed; top:25%; left:0; right:0; margin:0 auto; width:62%; height:550px; opacity: 0; background:#fff; visibility: hidden; z-index:333; border-radius:15px;}
#popup.visible {opacity: 1; visibility: visible; top:20%; transition:all .3s;}
#overlay {display: none; position: fixed; top: 0; left: 0; height: 100%; width: 100%; background:rgba(0,0,0,0.5); z-index:332;}
#popup-close-btn {position:absolute; right:0; top:0; width:40px; height:40px; background:#111; cursor:pointer; display: flex; justify-content: center; align-items: center;}
#popup ion-icon {font-size: 35px; color: #fff;}

.popup-inner {padding:3% 5%; box-sizing:border-box;}
.popup-inner > ul > li {float:left;}
.popup-inner > ul > li.popup-text-box {width:50%;}
.popup-inner > ul > li.popup-image-box {width:50%;}
.popup-inner > ul > li.popup-image-box img {width:100%; max-width:500px;}

p.pop-txt-1 {font-size:0.8rem; font-weight:300; color:#777; margin-top:30px;}
p.pop-txt-2 {font-size:2.2rem; margin-top:10px;}
.pop-line {border-bottom:1px solid #ddd; width:80%; margin:30px 0px 5px;}
div.pop-txt-3 {margin-top:0px;}
	div.pop-txt-3 span {vertical-align: middle;}
	.pop-txt-inner-tit {display:inline-block; width:20%;}
	.pop-txt-inner-logo {display:inline-block; width:65%;}
div.pop-ch-icon {}
	.ch-box {margin-top:15px;}
	.ch-box > li {float:left; margin-right:8px;}
	.ch-box > li img {width:100%; max-width:38px;}
div.pop-category {margin-top:20px;}
	.pop-category-tit {}
	.pop-category-des {margin-top:15px; font-size:0.92rem; font-weight:400; color:#777;}
 

/*푸터*/
footer {width:100%; background:#fff; position: relative;}
/*footer::before {content: '';  background-image: url(../img/foot-top.png); display: block; position: absolute; width: 100%; height:80px; top: -70px; z-index: 9999;}*/
footer .footer-container {padding:80px 0px;}
footer .footer-logo img {filter:brightness(50%); width:12%;}
footer .foot-p1 {font-size:14px; margin-top:30px; line-height:20px; letter-spacing:-1px; color:#555;}
footer .foot-p2 {font-size:14px; line-height:20px; color:#555;}





/*++++++++++ Media Query +++++++++++++++++*/

/* -- desktop-little(start) -- */
@media screen and (min-width: 1367px) and (max-width: 1500px) {
	
	/*section01*/
	#section01 .fixed-panel {margin:0 auto; position:fixed; top:28%; bottom:0%; left:0%; right:0%; width:50%;}
	#pan_txt_01 {top:10%; left:10%;}
	#pan_txt_02 {top:10%; right:12%;}
	#pan_txt2_01 {top:-2%; right:15%;}
	#pan_txt2_02 {top:5%; right:35.5%;}

	img.phone01 {width:35%; transition:all .3s;}
	.panel__line {margin:20px 0 0 50%;}

	#section01 .fixed-panel .panel-fix-bg.active {transform:translate(-395px,-106px); display:block;}
	#section01 .fixed-panel .panel-fix-bg.active2 {transform:translate(0px,-50px); display:block;}
}
	
/* -- tablet-ipad pro (start) -- */
@media screen and (min-width : 1024px) and (max-width : 1366px) {

	/*section01*/
	#section01 {display:none;}
	#section01 .fixed-panel {margin:0 auto; position:fixed; top:28%; bottom:0%; left:0%; right:0%; width:70%; touch-action:none;}
	#pan_txt_01 {top:8%; left:4%;}
	#pan_txt_01 img {width:90%;}
	#pan_txt_02 {top:10%; right:12%;}
	#pan_txt_02 img {width:90%;}
	#pan_txt2_01 {top:2%; right:9%;}
	#pan_txt2_02 {top:5%; right:35.5%;}
	#pan_txt2_03 {top:0%; right:12%; transition:all .3s;}

	#section01-m .panel-fix-bg2 {margin:0 auto; position:fixed; top:28%; bottom:0%; left:0%; right:0%; width:100%;}
	#section01-m {background:#000; width:100%; height:300vh; display:block;}
	#section01-m .panel2 {width:100%; height:100vh; position:relative;}
	#section01-m .panel__content-m {position:absolute; width:100%; height:100%;}
	#section01-m #pan_txt_01-m {padding-left:10%; padding-top:12%;} #section01-m #pan_txt_01-m img {width:30%;}
	#section01-m #pan-ob-01-m {position:absolute; bottom:35%; right:4%;}
	#section01-m #pan-txt-01-m-2 {position:absolute; right:13%; top:18%;}
	#section01-m #pan_txt_02-m {padding-left:0%; position:absolute; top:30%; left: 60%;} #section01-m #pan_txt_02-m img {width:70%;}
	#section01-m #pan-ob-02-m {position:absolute; top:0%; right:4%; right: 10%;} #section01-m #pan-ob-02-m-2 {position:absolute; top:60%; left: 9%;}
	#section01-m #pan-txt-02-m-2 {position:absolute; left:6%; top:24%; left: 60%;}
	#section01-m #pan_txt_03-m {padding-left:0%; position:absolute; top:17%; left: 14%;} #section01-m #pan_txt_03-m img {width:70%;}
	#section01-m #pan-ob-03-m {}
	#section01-m #pan-txt-03-m-2 {position:absolute; left:6%; top:31%; left: 14%;}
	#section01-m .panel2__text {color:#fff; font-size:14px;}

	#section01-m #main-01-m .panel__content-m {top:17%;}

	#section01-m .fixed-panel2 .panel-fix-bg2 > div {background:url('../img/o-01.jpg') no-repeat; width:58%; height:380px; transition:all .5s; margin: 0 auto;}
	#section01-m .fixed-panel2 .panel-fix-bg2 {transform:translate(0px,0px); display:block;}
	#section01-m .fixed-panel2 .panel-fix-bg2.active > div {background:url('../img/o-02c.png') no-repeat; width:80%; height:600px; animation:bg01 3s; animation-fill-mode:forwards; transform:translateY(30px);}
	#section01-m .fixed-panel2 .panel-fix-bg2.active {transform:translate(0px,-136px); display:block;}
	#section01-m .fixed-panel2 .panel-fix-bg2.active2 > div {background:url('../img/o-03.png') no-repeat; width:100%; height:630px; background-position:50% 50%; animation:bg02 3s; animation-fill-mode:forwards; transform:translateY(30px);}
	#section01-m .fixed-panel2 .panel-fix-bg2.active2 {transform:translate(15px,-50px); display:block;}
	#section01-m .fixed-panel2 .panel-fix-bg2.active3 {display:none;}

	.panel {touch-action:none;}
	.panel3 {touch-action:none;}

	img.phone01 {width:67%; transition:all .3s;}
	.panel__line {margin:80px 0 0 25%;}
	.panel__text {display: inline-block; text-align:left; position: absolute;}
	.particle_1 {position:absolute; top:-10%; right:20%;}
	.particle_2 {position:absolute; top:42%; right:50%;}

	#section01 .fixed-panel .panel-fix-bg.active {transform:translate(-200px,-106px); display:block;}
	#section01 .fixed-panel .panel-fix-bg.active2 {transform:translate(0px,-50px); display:block;}
	#section01 .fixed-panel .panel-fix-bg.active2 > div {width:110%;}
	#section02 .optimization-section {margin-top:6%; padding:0 3%;}
	#section04 .pl-inner {width: 100%; height: 410px; overflow-y: scroll; padding-right:0%;}
	#section04 .portfolio-list {margin-top:5%; padding:0 3%;}
	#section05 {padding:12% 3%;}

	footer .footer-container {padding:80px 3%;}
}

/* -- tablet-ipad (start) -- */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	
	/*section01*/
	#section01 {display:none;}
	#section01 .fixed-panel {margin:0 auto; position:fixed; top:28%; bottom:0%; left:0%; right:0%; width:70%; touch-action:none;}
	#pan_txt_01 {top:8%; left:4%;}
	#pan_txt_01 img {width:90%;}
	#pan_txt_02 {top:10%; right:12%;}
	#pan_txt_02 img {width:90%;}
	#pan_txt2_01 {top:2%; right:9%;}
	#pan_txt2_02 {top:5%; right:35.5%;}
	#pan_txt2_03 {top:0%; right:12%; transition:all .3s;}

	#section01-m .panel-fix-bg2 {margin:0 auto; position:fixed; top:28%; bottom:0%; left:0%; right:0%; width:100%;}
	#section01-m {background:#000; width:100%; height:300vh; display:block;}
	#section01-m .panel2 {width:100%; height:100vh; position:relative;}
	#section01-m .panel__content-m {position:absolute; width:100%; height:100%;}
	#section01-m #pan_txt_01-m {padding-left:10%; padding-top:17%;} #section01-m #pan_txt_01-m img {width:40%;}
	#section01-m #pan-ob-01-m {position:absolute; bottom:38%; right:4%;}
	#section01-m #pan-txt-01-m-2 {position:absolute; right:11%; top:27%;}
	#section01-m #pan_txt_02-m {padding-left:0%; position:absolute; top:28%; left:50%;} #section01-m #pan_txt_02-m img {width:90%;}
	#section01-m #pan-ob-02-m {position:absolute; top:0%; right:4%; right: 10%;} #section01-m #pan-ob-02-m-2 {position:absolute; top:58%; left:33%;}
	#section01-m #pan-txt-02-m-2 {position:absolute; left:6%; top:24%; left: 50%;}
	#section01-m #pan_txt_03-m {padding-left:0%; position:absolute; top:17%; left: 14%;} #section01-m #pan_txt_03-m img {width:80%;}
	#section01-m #pan-ob-03-m {}
	#section01-m #pan-txt-03-m-2 {position:absolute; left:6%; top:31%; left: 14%;}
	#section01-m .panel2__text {color:#fff; font-size:16px;}

	#section01-m #main-01-m .panel__content-m {top:17%;}

	#section01-m .fixed-panel2 .panel-fix-bg2 > div {background:url('../img/o-01.jpg') no-repeat; width:70%; height:450px; transition:all .5s; margin: 0 auto;}
	#section01-m .fixed-panel2 .panel-fix-bg2 {transform:translate(0px,0px); display:block;}
	#section01-m .fixed-panel2 .panel-fix-bg2.active > div {background:url('../img/o-02-m4.png') no-repeat; width:100%; height:600px; animation:bg01 3s; animation-fill-mode:forwards; transform:translateY(30px);}
	#section01-m .fixed-panel2 .panel-fix-bg2.active {transform:translate(0px,-136px); display:block;}
	#section01-m .fixed-panel2 .panel-fix-bg2.active2 > div {background:url('../img/o-03.png') no-repeat; width:100%; height:630px; background-position:62% 50%; animation:bg02 3s; animation-fill-mode:forwards; transform:translateY(30px);}
	#section01-m .fixed-panel2 .panel-fix-bg2.active2 {transform:translate(15px,-50px); display:block;}
	#section01-m .fixed-panel2 .panel-fix-bg2.active3 {display:none;}

	.panel {touch-action:none;}
	.panel3 {touch-action:none;}

	img.phone01 {width:67%; transition:all .3s;}
	.panel__line {margin:80px 0 0 25%;}
	.panel__text {display: inline-block; text-align:left; position: absolute;}
	.particle_1 {position:absolute; top:-10%; right:20%;}
	.particle_2 {position:absolute; top:42%; right:50%;}

	#section01 .fixed-panel .panel-fix-bg.active {transform:translate(-200px,-106px); display:block;}
	#section01 .fixed-panel .panel-fix-bg.active2 {transform:translate(0px,-50px); display:block;}
	#section01 .fixed-panel .panel-fix-bg.active2 > div {width:110%;}
	#section02 .optimization-section {margin-top:6%; padding:0 3%;}
	#section03 .tab-contents .tab-image-section {padding-top:3%;}
	#section04 .pl-inner {width: 100%; height: 410px; overflow-y: scroll; padding-right:0%;}
	#section04 .portfolio-list {margin-top:5%; padding:0 3%;}
	#section05 {padding:12% 3%;}
	footer .footer-container {padding:80px 3%;}
}


/* -- mobile(start) -- */
@media screen and (max-width: 767px) {
	
	.pc {display:none;}
	.m {display:block;}
	.enter-ef {display: inline;}

	header .info-menu {display:none;}
	.hamburger-mobile {display:block;}

	/*section01*/
	#section01 {display:none;}
	#section01 .fixed-panel {margin:0 auto; position:fixed; top:28%; bottom:0%; left:0%; right:0%; width:100%;}
	#pan_txt_01 {top:-15%; left:14%;}
	#pan_txt_01 img {width:75%;}
	#pan_txt_02 {top:17%; left: 27%;}
	#pan_txt_02 img {width:100%;}
	#pan_txt_03 {top:10%; left:12%;}
	#pan_txt_03 img {width:80%;}
	#pan_txt2_01 {top:7%; right:3%; font-size:12px;}
	#pan_txt2_02 {top:12%; right:0%; left: 27%; font-size:12px;}
	#pan_txt2_03 {top:0%; right:12%; font-size:12px;}
	
	#section01-m .panel-fix-bg2 {margin:0 auto; position:fixed; top:28%; bottom:0%; left:0%; right:0%; width:100%;}
	#section01-m {background:#000; width:100%; height:300vh; display:block;}
	#section01-m .panel2 {width:100%; height:100vh; position:relative;}
	#section01-m .panel__content-m {position:absolute; width:100%; height:100%;}
	#section01-m #pan_txt_01-m {padding-left:6%;} #section01-m #pan_txt_01-m img {width:60%;}
	#section01-m #pan-ob-01-m {position:absolute; bottom:33%; right:0%;}
	#section01-m #pan-txt-01-m-2 {position:absolute; right:4%; top:21%;}
	#section01-m #pan_txt_02-m {padding-left:6%; position:absolute; top:30%;} #section01-m #pan_txt_02-m img {width:70%;}
	#section01-m #pan-ob-02-m {position:absolute; top:0%; right:4%;} #section01-m #pan-ob-02-m-2 {position:absolute; top:60%;}
	#section01-m #pan-txt-02-m-2 {position:absolute; left:6%; top:24%;}
	#section01-m #pan_txt_03-m {padding-left:6%; position:absolute; top:10%;} #section01-m #pan_txt_03-m img {width:80%;}
	#section01-m #pan-ob-03-m {}
	#section01-m #pan-txt-03-m-2 {position:absolute; left:6%; top:24%;}
	#section01-m .panel2__text {color:#fff; font-size:14px;}

	#section01-m #main-01-m .panel__content-m {top:17%;}

	#section01-m .fixed-panel2 .panel-fix-bg2 > div {background:url('../img/o-01-m.jpg') no-repeat; width:100%; height:290px; transition:all .5s;}
	#section01-m .fixed-panel2 .panel-fix-bg2 {transform:translate(-50px,50px); display:block;}
	#section01-m .fixed-panel2 .panel-fix-bg2.active > div {background:url('../img/o-02-m3.png') no-repeat; width:100%; height:600px; animation:bg01 3s; animation-fill-mode:forwards; transform:translateY(30px);}
	#section01-m .fixed-panel2 .panel-fix-bg2.active {transform:translate(0px,-136px); display:block;}
	#section01-m .fixed-panel2 .panel-fix-bg2.active2 > div {background:url('../img/o-03-m.png') no-repeat; width:100%; height:630px; background-position:50% 50%; animation:bg02 3s; animation-fill-mode:forwards; transform:translateY(30px);}
	#section01-m .fixed-panel2 .panel-fix-bg2.active2 {transform:translate(15px,-50px); display:block;}
	#section01-m .fixed-panel2 .panel-fix-bg2.active3 {display:none;}

	.panel {touch-action:none;}
	.panel3 {touch-action:none;}

	img.phone01 {width:61%; transition:all .3s;}
	.panel__line {margin:80px 0 0 31%;}
	.panel__text {display: inline-block; text-align:left; position: absolute;}
	.particle_1 {position:absolute; top:-10%; right:20%;}
	.particle_2 {position:absolute; top:42%; right:50%;}

	#section01 .fixed-panel .panel-fix-bg > div {margin:0 auto; background:url('../img/o-01.jpg') no-repeat; width:60%; height:420px; transition:all .5s;}
	#section01 .fixed-panel .panel-fix-bg.active > div {background:url('../img/o-02-m2.png') no-repeat; width:100%; height:600px; background-position:50% 50%; animation:bg01 3s; animation-fill-mode:forwards; transform:translateY(30px);}
	#section01 .fixed-panel .panel-fix-bg.active2 > div {background:url('../img/o-03-m.png') no-repeat; width:100%; height:630px; background-position:90% 50%; animation:bg02 3s; animation-fill-mode:forwards; transform:translateY(30px);}
	#section01 .fixed-panel .panel-fix-bg {transform:translate(0px,-50px);}
	#section01 .fixed-panel .panel-fix-bg.active {transform:translate(0px,-167px); display:block;}
	#section01 .fixed-panel .panel-fix-bg.active > div { background-position: 36% 0%;}
	#section01 .fixed-panel .panel-fix-bg.active2 {transform:translate(3px,-50px); display:block;}
	#section01 .fixed-panel .panel-fix-bg.active2 > div {}

	#section02 {padding-top:22%; padding-bottom:22%;}
	#section02 .sec-title p.p01 {font-size:1.8rem; font-weight:600; letter-spacing:-1.5px;}
	#section02 .sec-title p.p02 {margin-top:35px; font-size:12px; color:#999; letter-spacing:0px;}
	#section02 .optimization-section {margin-top:6%;}
	#section02 .optimization-section {width:100%; height:100%; z-index:30;} 
	#section02 .optimization-section > ul > li {float:left; display:inline-block; width:33.33%; padding:40px 0px; position:relative; text-align:center;}
	#section02 .quick-btn {width:28%; height:50px; background:#000; margin:0 auto; margin-top:7%; border-radius:50px;}
	#section02 .quick-btn a {color:#fff; font-size:13px; line-height:50px; display:block;}

	#section03 {padding-top:22%; padding-bottom:45%;}
	#section03 .tab-menu {display:inline-flex; position:absolute; left:0%; right:0%; top:18%; z-index:9; justify-content: center}
	#section03 .tab-menu li a {display:block; padding:8px 22px; font-size:13px; color:#fff;}
	#section03 .tab-contents .tab-text-section {width:100%; text-align:left; padding-top:2%; padding-left:6%; box-sizing:border-box;}
	#section03 .tab-contents .tab-text-section .tab-txt-01 {font-size:30px; font-weight:700; margin-top:100px;}
	#section03 .tab-contents .tab-text-section .tab-txt-02 {margin-top:25px; font-size:15px; line-height:24px; letter-spacing:-1px; font-weight: 300;}
	#section03 .tab-contents .tab-text-section .tab-txt-03 {margin-top:20px; font-size:15px; line-height:24px; letter-spacing:-1px; font-weight: 300;}
	#section03 .tab-contents .tab-image-section {width:100%; padding-left:0%; box-sizing:border-box; margin-top:40px;}
	#section03 .tab-contents #insta .tab-image-section img {width:50%;}
	#section03 .tab-contents #youtube .tab-image-section img {width:80%;}
	#section03 .tab-contents #faceboock .tab-image-section img {width:50%;}
	#section03 .tab-contents #tiktok .tab-image-section img {width:50%;}
	
	#section04 {background:#000; position:relative; z-index:300; width:100%; padding-top:30%; padding-bottom:30%; text-align:center;}
	#section04 .sec-title p.p01 {font-size:1.8rem; font-weight:600; letter-spacing:-1.5px; color:#fff;}
	#section04 .sec-title p.p02 {margin-top:35px; font-size:13px; color:#999; letter-spacing:1px;}
	#section04 .portfolio-list {margin-top:10%; padding: 0 3%;}
	#section04 .pl-inner {width: 100%; height: 450px; overflow-y: scroll; padding-right:1%;}
	#section04 .pl-inner::-webkit-scrollbar {width:8px; position:absolute; right:10%;}
	#section04 .pl-inner::-webkit-scrollbar-thumb {background-color: gray; border-radius:8px;}
	#section04 .pl-inner::-webkit-scrollbar-track {background-color: #2f3542; border-radius:8px;}
	#section04 .pl-inner > li {float:left; width:33.33%; padding:0.5%; box-sizing:border-box;}
	#section04 .pl-inner > li  > div {background:#fff; padding: 25% 0%;}
	#section04 .pl-inner > li img {width:100%;}

	#section05 {background:url('../img/contact-bg.jpg') no-repeat; background-size:cover; position:relative; z-index:300; width:100%; padding-top:25%; padding-bottom:25%;}
	#section05 > .wrapper {display:flex; flex-direction: column;}
	#section05 .sec05-title {text-align:left; color:#fff; flex-grow:3; padding-left: 6%;}
	#section05 .sec05-title h2 {font-size:40px; font-weight:600; letter-spacing:1px;}
	#section05 .sec05-title .sec05-p1 {margin-top:20px; font-size:14px; font-weight:300;}
	#section05 .sec05-title .sec05-p2 {margin-top:30px; font-size:12px; line-height:24px; letter-spacing:0px; font-weight:300;}
	#section05 .sec05-title .sec05-p3 {font-size:12px; line-height:24px; font-weight:300;}
	#section05 .sec05-title .sec05-p4 {font-size:12px; line-height:24px; font-weight:300;}
	#section05 span.info-tit {display:inline-block; width:15%;}
	#section05 .sec05-form-container {flex-grow:4; padding-left: 4%; margin-top:5%;}
	#section05 .sec05-form-container table input {display:inline-block; background:transparent; border:0; border-bottom:1px solid #888; width:90%; padding:5px; color:#999; letter-spacing:-1px;}
	#section05 .sec05-form-container table input::placeholder {color:#999;}
	#section05 .sec05-form-container table td {padding:15px 0px;}
	#section05 .sec05-form-container .check_input {width:13px !important; background:#fff;}
	#section05 .sec05-form-container label {color:#dadada;}
	#section05 .sec05-form-container a {color:#dadada;}
	#section05 .sec05-form-container .send-btn div {width:95%; background:#707070; text-align:center; padding:15px 0px; display:block; border-radius:8px; color:#fff; font-size:14px;}
	
	#section06 {padding: 19% 5% 6%;}
	#section06 .sec-title p.p01 {font-size: 1.1rem; letter-spacing: -1.5px;}
	#section06 .sec-title p.p02 {margin-top: 8px; font-size: 1.5rem; letter-spacing: -1px; line-height:32px;}
	#section06 .needs-section-container {flex-wrap: wrap;}
	#section06 .purpose {flex-grow: inherit; flex-shrink: inherit; flex-basis: inherit; width: 50%; margin: 20px 0px;}
	#section06 .purpose-desc {line-height: 20px;}
	#section06 .purpose-tit {margin-top: 20px;}

	#section07 {background:#000; height:1000px; position:relative; z-index:300; width:100%; padding-top:0%; padding-bottom:0%; text-align:center;}
	#section07 video {brightness(0.8);}
	#section07 .sec07-pos {top: 17%;}
	#section07 .sec-title p.p01 {font-size: 1.2rem;}
	#section07 .pw-section-container {flex-wrap: wrap;}
	#section07 .plusWecyd-box {flex-grow: inherit; flex-shrink: inherit; flex-basis: inherit; width: 50%; margin: 20px 0px;}
	
	#section08 .marketing-section {padding:0 4% 5%;}
	#section08 .marketing-section .marketing-img-sec {width:100%;}
	#section08 .marketing-section .marketing-des-sec {width:100%;}
		.marketing-section .marketing-des-sec-padd {padding-left: 5%;}
		.marketing-section .m-d-tit {font-size: 1.5rem; font-weight:600;}
	#section08 .marketing-section .marketing-img-sec img {width: 100%; max-width: 415px;}
	#section08 .marketing-section:nth-child(2n+1) .marketing-img-sec img { width: 100%; max-width: 375px;}
	
	.DA-section {padding:0 5%;}
	.da-marketing > div {float: left; width: 100%;}
	.da-marketing .da-tit {font-size: 1.4rem;}
	.da-marketing .da-desc {font-size: 0.9rem; color: #444; line-height: 20px; height: 95px;}

	#section09 {padding-top:18%;}
	.da-marketing .da-img {position: initial;}

	footer {width:100%; background:#fff; position: relative;}
	footer .footer-container {padding:60px 5%;}
	footer .footer-logo img {filter:brightness(50%); width:30%;}
	footer .foot-p1 {font-size:12px; margin-top:30px; line-height:20px; letter-spacing:-1px; color:#555;}
	footer .foot-p2 {font-size:14px; line-height:20px; color:#555;}
	
	/*팝업*/
	#popup {position:fixed; top:25%; left:0; right:0; margin:0 auto; width:80%; height:550px; opacity: 0; background:#fff; visibility: hidden; z-index:333; border-radius:15px; overflow:hidden;}
	#popup.visible {opacity: 1; visibility: visible; top:20%; transition:all .3s;}
	#overlay {display: none; position: fixed; top: 0; left: 0; height: 100%; width: 100%; background:rgba(0,0,0,0.5); z-index:332;}
	#popup-close-btn {position:absolute; right:0; top:0; width:40px; height:40px; background:#111; cursor:pointer; display: flex; justify-content: center; align-items: center;}
	#popup ion-icon {font-size: 35px; color: #fff;}
	.popup-inner > ul > li {float:right;}
	.popup-inner > ul > li.popup-text-box {width: 100%;}
	.pop-line {border-bottom: 1px solid #ddd; width: 100%; margin: 30px 0px 5px;}
	.pop-txt-inner-logo img {max-width:200px;}

}

@media screen and (max-width: 420px) {
	#popup {position:fixed; top:25%; left:0; right:0; margin:0 auto; width:80%; height:450px; opacity: 0; background:#fff; visibility: hidden; z-index:333; border-radius:10px; overflow:hidden;}
	.popup-inner > ul > li {float:right;}
	.popup-inner > ul > li.popup-text-box {width: 100%;}
	.popup-inner > ul > li.popup-image-box {width:70%; margin-top: 35px;}
	.popup-inner > ul > li.popup-text-box p.pop-txt-1 {font-size: 0.7rem;}
	.popup-inner > ul > li.popup-text-box p.pop-txt-2 {font-size: 1.8rem;}
	.pop-txt-inner-logo img {max-width: 120px;}
	.pop-txt-inner-tit {font-size: 0.85rem;}
	.pop-ch-icon p {font-size: 0.85rem;}
	.pop-category-tit {font-size: 0.85rem;}
	.ch-box > li img {width: 100%; max-width: 30px;}
	.pop-category-des {font-size:0.75rem; margin-top:10px;}
}


@media screen and (max-width: 361px) {

	#section01-m #pan-ob-01-m {position:absolute; bottom:32%; right:0%;}
	#section01-m #pan-txt-01-m-2 {position:absolute; right:4%; top:26%;}
	#section01-m .fixed-panel2 .panel-fix-bg2.active2 > div {background:url('../img/o-03-m3.png') no-repeat; width:100%; height:630px; background-position:50% 50%; animation:bg02 3s; animation-fill-mode:forwards; transform:translateY(30px);}
	
	#section02 .quick-btn {width:30%; height:45px; background:#000; margin:0 auto; margin-top:7%; border-radius:50px;}
	#section02 .quick-btn a {color:#fff; font-size:12px; line-height:45px; display:block;}

	#section03 .tab-menu li {background:#b6b6b6; border-radius:50px; margin-right:6px;}
	#section03 .tab-menu li a {display:block; padding:8px 19px; font-size:11px; color:#fff;}
	#section03 .tab-contents .tab-text-section {padding-right:5%;}

	#section05 .sec05-title h2 {font-size:32px; letter-spacing:-0.2px;}

	#section06 {padding-top: 19%;}
	#section06 .sec-title p.p01 {font-size: 0.9rem; letter-spacing: -1px;}
	#section06 .sec-title p.p02 {margin-top: 5px; font-size: 1.35rem; letter-spacing: -1px; line-height:26px;}
	#section06 .needs-section {margin-top: 35px;}
	#section06 .needs-section-container {flex-wrap: wrap;}
	#section06 .purpose {flex-grow: inherit; flex-shrink: inherit; flex-basis: inherit; width: 50%; margin: 20px 0px;}
	#section06 .purpose-img { width: 60px; height: 60px; margin: 0 auto;}
	#section06 .purpose-desc {line-height: 18px; font-size: 0.8rem;}
	#section06 .purpose-tit {margin-top: 20px; font-size: 0.9rem;}

	#section07 {background:#000; height:840px; position:relative; z-index:300; width:100%; padding-top:0%; padding-bottom:0%; text-align:center;}
	#section07 .sec07-pos {top: 17%;}
	#section07 .pw-section-container {flex-wrap: wrap;}
	#section07 .plusWecyd-box {flex-grow: inherit; flex-shrink: inherit; flex-basis: inherit; width: 50%; margin: 20px 0px;}
	#section07 .pw-img {width:60px; height:60px; margin: 0 auto;}
	#section07 .pw-tit {font-size: 1.15rem; margin-top: 20px; color: #ddd;}
	
	#section08 {padding-top:18%;}
	#section08 .marketing-section {padding:0 4% 7%;}
	#section08 .marketing-section {margin-top: 60px; padding-bottom: 80px;}
		.marketing-section .m-d-tit {font-size: 1.3rem; font-weight:600;}
		.marketing-section .m-d-des {font-size: 0.8rem; line-height:20px;}
		.marketing-section .des-line {margin: 20px 0px;}
		.da-marketing > div {float: left; width: 100%;}
	#section08 .marketing-section .marketing-img-sec img {width: 100%; max-width: 260px;}
	#section08 .marketing-section:nth-child(2n+1) .marketing-img-sec img { width: 100%; max-width: 250px;}

	#section09 {padding-top:18%;}
	.da-marketing .da-img {position: initial;}
}

@media screen and (max-width: 321px) {

	#section01-m #pan-ob-01-m {position:absolute; bottom:24%; right:0%;}
	#section01-m #pan-txt-01-m-2 {position:absolute; right:4%; top:31%;}
	#section01-m .fixed-panel2 .panel-fix-bg2 > div {background:url('../img/o-01-m.jpg') no-repeat; width:100%; height:250px; transition:all .5s;}
	#section01-m .fixed-panel2 .panel-fix-bg2.active2 > div {background:url('../img/o-03-m2.png') no-repeat; width:100%; height:630px; background-position:50% 50%; animation:bg02 3s; animation-fill-mode:forwards; transform:translateY(30px);}
	
	#section03 .tab-menu li {background:#b6b6b6; border-radius:50px; margin-right:6px;}
	#section03 .tab-menu li a {display:block; padding:8px 19px; font-size:10px; color:#fff;}
	#section03 .tab-contents .tab-text-section {padding-right:5%;}

	#section05 .sec05-title h2 {font-size:32px; letter-spacing:-0.2px;}
}



